.editor__statusbar
  display: flex
  justify-content: space-between

  background-color: #191919
  color: #929292

.editor__syntax
  margin: 3px
  padding: 3px

.editor__cursor-position
  margin: 3px
  padding: 3px
