.invitation-list
  display: flex
  flex-direction: column
  align-items: flex-start
  flex-grow: 1

.invitation-list__copy-field
  display: flex
  flex-grow: 1
  margin: 10px


.invitation-list__permissions
  display: flex
  margin: 5px

.invitation-list__revoke
  display: flex
  margin: 5px
