.editor__window
  display: flex
  flex-grow: 1

  #editor
    display: flex
    flex-grow: 1

    position: relative
    width: 400px
    height: 400px


  .fuko
    position: absolute
    border-left: 2px solid black

  .selection
    position: absolute
    border-left: 2px solid black
    background-color: rgba(0, 0, 0, 0.6)
